/* variables globales */
:root{
    --color-primario : #ff6699;
    --color-blanco : hsl(0, 0%, 100%);
    --color-texto : red;
    /* --fuente-principal : Verdana, sans-serif; */
    --fuente-principal :Century Gothic, sans-serif;

    --color-fondo : #ffe6ee;
}

*{

    margin :0px;
    padding :0px;
    box-sizing :border-box;
}


body{
    font-family:var(--fuente-principal);
    background-color: var(--color-fondo);
    color: var(--color-texto);

    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";

    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    
}

header{
    grid-area: header;
    background-color: var(--color-primario);
    text-align: center;
}

h1 {
    color:#ffccdd;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 20px;
}

nav a{
    color: var(--color-blanco);
    text-decoration: none;
    font-weight:bold;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
}

nav a:hover {
    color: #ffcc00;
    background-color: red;


}
main{
    grid-area: main;
    
   

}
footer{
    grid-area: footer;
    
}



